## WINE LIST RECOMMENDER PROJECT

### 02 - WINE CATEGORY BOOK CONSTRUCTION

**SUMMARY**

The need for multiple sessions of scraping on different site based search values required an additional step for assembly for the individual wine books for each category, especially red, white, and sparkling.  The following code reflects the first step in bringing each of these together by wine style and eventually to a full wine catalog. This notebook is a modified sample of what was used to create the category books, which can be found in the Wine Notebooks folder of this repository.

#### IMPORT PACKAGES

```python

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

```

#### IMPORT FILES

```python

#Pull in all of our red files from selenium scrape
df_1=pd.read_csv('../scraped_data/wine_file_red.csv')
df_2=pd.read_csv('../scraped_data/wine_file_redpop.csv')
df_3=pd.read_csv('../scraped_data/wine_file_red_highlow.csv')
df_4=pd.read_csv('../scraped_data/wine_file_red_lowhigh.csv')

```

#### EXAMINE EACH DATAFRAME

```python
#examine each dataframe
df_1.head()
```

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 6 columns):
Unnamed: 0    2600 non-null int64
winery        2600 non-null object
wine          2600 non-null object
location      2600 non-null object
rating        2600 non-null float64
price         2600 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 122.0+ KB

In [5]:
df_2.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Caymus,Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.6,$79.05
1,1,The Prisoner,The Prisoner N.V.,United States\n·\nNapa Valley,4.4,$39.75
2,2,Masi,Costasera Amarone della Valpolicella Classico ...,Italy\n·\nAmarone della Valpolicella Classico,4.3,$54.99
3,3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.3,$59.99
4,4,Banfi,Brunello di Montalcino N.V.,Italy\n·\nBrunello di Montalcino,4.2,$65.98

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 0 to 2774
Data columns (total 6 columns):
Unnamed: 0    2775 non-null int64
winery        2775 non-null object
wine          2775 non-null object
location      2775 non-null object
rating        2775 non-null float64
price         2775 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 130.2+ KB

In [7]:
df_3.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,Geantet-Pansiot,Charmes-Chambertin Grand Cru 2002,France\n·\nCharmes-Chambertin Grand Cru,4.2,$450
1,1,Château Beychevelle,Saint-Julien (Grand Cru Classé) 1961,France\n·\nSaint-Julien,4.5,$450
2,2,Borgogno,Barolo Riserva 1947,Italy\n·\nBarolo,4.0,$450
3,3,Quintarelli Giuseppe,Veneto Alzero Cabernet 2008,Italy\n·\nVeneto,4.7,$449.99
4,4,Domaine Dujac,Gevrey Chambertin 1er Cru 'Aux Combottes' 2005,France\n·\nGevrey-Chambertin 1er Cru 'Aux Comb...,4.2,$449.99

In [8]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 6 columns):
Unnamed: 0    1850 non-null int64
winery        1850 non-null object
wine          1850 non-null object
location      1848 non-null object
rating        1850 non-null float64
price         1850 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 86.8+ KB

In [9]:
df_4.head()

,Unnamed: 0,winery,wine,location,rating,price
0,0,90+ Cellars,Lot 21 French Fusion Red 2016,France\n·\nLanguedoc,3.5,$10
1,1,90+ Cellars,Lot 53 Cabernet Sauvignon 2017,Argentina\n·\nMendoza,3.7,$10
2,2,Canyon Road,Merlot 2018,United States\n·\nCalifornia,3.7,$10
3,3,Brotte,La Grivelière Tete de Cuvée Côtes du Rhône 2018,France\n·\nCôtes-du-Rhône,3.7,$10
4,4,90+ Cellars,Lot 92 Merlot 2017,United States\n·\nMendocino,3.5,$10

In [10]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2275 entries, 0 to 2274
Data columns (total 6 columns):
Unnamed: 0    2275 non-null int64
winery        2275 non-null object
wine          2275 non-null object
location      2273 non-null object
rating        2275 non-null float64
price         2275 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 106.8+ KB

#### ASSEMBLE THE CATEGORY DATAFRAME

```python
#assemble each of our dataframes into a single dataframe for red wine
red_df=pd.concat([df_1,df_2,df_3,df_4],axis=0)
```

In [12]:
red_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9500 entries, 0 to 2274
Data columns (total 6 columns):
Unnamed: 0    9500 non-null int64
winery        9500 non-null object
wine          9500 non-null object
location      9496 non-null object
rating        9500 non-null float64
price         9500 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 519.5+ KB

In [13]:
red_df

,Unnamed: 0,winery,wine,location,rating,price
0,0,Caymus,Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.6,$79.05
1,1,The Prisoner,The Prisoner N.V.,United States\n·\nNapa Valley,4.4,$39.75
2,2,Masi,Costasera Amarone della Valpolicella Classico ...,Italy\n·\nAmarone della Valpolicella Classico,4.3,$54.99
3,3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.3,$59.99
4,4,Banfi,Brunello di Montalcino N.V.,Italy\n·\nBrunello di Montalcino,4.2,$65.98
...,...,...,...,...,...,...
2270,2270,Joao Portugal Ramos,Reserva Tinto 2016,Portugal\n·\nAlentejo,3.6,$15.39
2271,2271,Siesta,Tahuan Malbec 2017,Argentina\n·\nMendoza,4.1,$15.39
2272,2272,Layer Cake,Primitivo (a.k.a. Zinfandel) N.V.,Italy\n·\nPuglia,3.8,$15.39
2273,2273,Francis Ford Coppola,Diamond Collection Cabernet Sauvignon (Ivory L...,United States\n·\nNapa Valley,3.8,$15.39
2274,2274,G.D. Vajra,Langhe Rosso 2017,Italy\n·\nLanghe,3.8,$15.39

```python
#clean up index
red_df.reset_index(level=None, drop=True, inplace=True)
```

```python
#remove unnamed column
red_df.drop(['Unnamed: 0'],axis=1,inplace=True)
```

In [16]:
#starting point
red_df

,winery,wine,location,rating,price
0,Caymus,Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.6,$79.05
1,The Prisoner,The Prisoner N.V.,United States\n·\nNapa Valley,4.4,$39.75
2,Masi,Costasera Amarone della Valpolicella Classico ...,Italy\n·\nAmarone della Valpolicella Classico,4.3,$54.99
3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.3,$59.99
4,Banfi,Brunello di Montalcino N.V.,Italy\n·\nBrunello di Montalcino,4.2,$65.98
...,...,...,...,...,...
9495,Joao Portugal Ramos,Reserva Tinto 2016,Portugal\n·\nAlentejo,3.6,$15.39
9496,Siesta,Tahuan Malbec 2017,Argentina\n·\nMendoza,4.1,$15.39
9497,Layer Cake,Primitivo (a.k.a. Zinfandel) N.V.,Italy\n·\nPuglia,3.8,$15.39
9498,Francis Ford Coppola,Diamond Collection Cabernet Sauvignon (Ivory L...,United States\n·\nNapa Valley,3.8,$15.39
9499,G.D. Vajra,Langhe Rosso 2017,Italy\n·\nLanghe,3.8,$15.39

#### FEATURE ENGINEERING

```python
#add a feature to define this category (separate from white, sparkling, others)
red_df['wine_category'] = 'red'
```

In [18]:
red_df

,winery,wine,location,rating,price,wine_category
0,Caymus,Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.6,$79.05,red
1,The Prisoner,The Prisoner N.V.,United States\n·\nNapa Valley,4.4,$39.75,red
2,Masi,Costasera Amarone della Valpolicella Classico ...,Italy\n·\nAmarone della Valpolicella Classico,4.3,$54.99,red
3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,United States\n·\nNapa Valley,4.3,$59.99,red
4,Banfi,Brunello di Montalcino N.V.,Italy\n·\nBrunello di Montalcino,4.2,$65.98,red
...,...,...,...,...,...,...
9495,Joao Portugal Ramos,Reserva Tinto 2016,Portugal\n·\nAlentejo,3.6,$15.39,red
9496,Siesta,Tahuan Malbec 2017,Argentina\n·\nMendoza,4.1,$15.39,red
9497,Layer Cake,Primitivo (a.k.a. Zinfandel) N.V.,Italy\n·\nPuglia,3.8,$15.39,red
9498,Francis Ford Coppola,Diamond Collection Cabernet Sauvignon (Ivory L...,United States\n·\nNapa Valley,3.8,$15.39,red
9499,G.D. Vajra,Langhe Rosso 2017,Italy\n·\nLanghe,3.8,$15.39,red

```python
#replace line breaks and anchor with an underscore to prepare for split
red_df["location"]= red_df["location"].str.replace("\n·\n", "_", case = False) 
```

```python
#split the country and region in location column
red_df[['country','region']] = red_df.location.apply(lambda x: pd.Series(str(x).split("_")))
```

```python
#Establish a new column so we can extract the vintage of each wine
red_df['vintage']=""
```

```python
#create a function to identify and extract the vintages from the wine column
def vintage (x):
    red_df.loc[red_df['wine'].str.contains(x),'vintage']= x
```

```python
#test function on a random entry - we know row 222 had 2017 in wine text, function should place it in vintage column
vintage ('2017')
```

```python
#well, we are happy about this!
red_df.loc[222]


winery                   Boekenhoutskloof
wine             The Chocolate Block 2017
location         South Africa_Franschhoek
rating                                4.2
price                              $29.99
wine_category                         red
country                      South Africa
region                        Franschhoek
vintage                              2017
Name: 222, dtype: object

```

```python

#Estabish a list of vintages as strings we can loop through with our function to populate the full vintage column  
vintage_list = ['N.V.', '1985','1986','1987','1988','1989','1990', '1991', '1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

```

In [ ]:

#now we'll run the loop and check our values (Hey! it worked, but no champagne yet - plenty more to do!)
for i in vintage_list:
    vintage(i)
    
red_df['vintage'].value_counts()

In [28]:
#concerned about the empty 14, but they could be valuable, so let see what we've got...
red_df[red_df.vintage==""].head(15)

,winery,wine,location,rating,price,wine_category,country,region,vintage
5376,Château Beychevelle,Saint-Julien (Grand Cru Classé) 1961,France_Saint-Julien,4.5,$450,red,France,Saint-Julien,
5377,Borgogno,Barolo Riserva 1947,Italy_Barolo,4.0,$450,red,Italy,Barolo,
5400,Château Latour,Les Forts de Latour Pauillac 1976,France_Pauillac,4.3,$435.99,red,France,Pauillac,
5404,Château Musar,Rouge (Gaston Hochar) 1981,Lebanon_Bekaa Valley,4.5,$429.99,red,Lebanon,Bekaa Valley,
5612,Borgogno,Barolo Riserva 1967,Italy_Barolo,4.3,$300,red,Italy,Barolo,
5615,Fontanafredda,Barolo 1958,Italy_Barolo,4.3,$300,red,Italy,Barolo,
5620,Château Le Bon Pasteur,Pomerol 1982,France_Pomerol,4.3,$299.99,red,France,Pomerol,
5789,Pio Cesare,Barolo 1961,Italy_Barolo,3.9,$250,red,Italy,Barolo,
6080,Château Branaire-Ducru,Saint-Julien (Grand Cru Classé) 1982,France_Saint-Julien,4.4,$199.99,red,France,Saint-Julien,
6162,Domaine de Chevalier,Pessac-Léognan (Grand Cru Classé de Graves) 1975,France_Pessac-Léognan,3.8,$190,red,France,Pessac-Léognan,
6237,Château Prieuré-Lichine,Margaux (Grand Cru Classé) 1978,France_Margaux,4.2,$179.99,red,France,Margaux,
6247,Château l'Arrosee,Saint-Émilion Grand Cru (Grand Cru Classé) 1983,France_Saint-Émilion Grand Cru,4.3,$179.99,red,France,Saint-Émilion Grand Cru,
7016,Château Prieuré-Lichine,Margaux (Grand Cru Classé) 1982,France_Margaux,4.2,$119.99,red,France,Margaux,
7955,Paul Jaboulet Aîné,Paralléle 45 Côtes du Rhône Rouge 1945,France_Côtes-du-Rhône,3.6,$12.99,red,France,Côtes-du-Rhône,

In [29]:
#update our vintage list
vintage_list = ['N.V.', '1985','1986','1987','1988','1989','1990', '1991', '1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','1961','1947','1976','1981','1967','1958','1982','1975','1978','1983','1982','1945']

In [30]:
#run the loop again and check our values...looks good!
for i in vintage_list:
    vintage(i)
    
red_df['vintage'].value_counts()

N.V.    2327
2016    1229
2015    1156
2014     996
2017     755
2013     550
2012     527
2011     334
2010     301
2018     289
2009     199
2005     140
2007     139
2000     114
2008     107
2006      91
2003      47
2004      31
2001      29
2002      28
1996      17
1995      14
1999      11
2019      10
1997      10
1985       8
1998       6
1986       6
1990       5
1988       4
1989       3
1982       3
1961       2
1992       1
1983       1
1958       1
1978       1
1947       1
1976       1
1993       1
1975       1
1967       1
1994       1
1945       1
1981       1
Name: vintage, dtype: int64

In [31]:
#This will create a list of wine styles that we can apply to our data 
wine_style_list=['Gamay','Pinot Noir','Barbera','Cabernet Franc','Carignan','Carmenere','Grenache','Mencia','Merlot','Montepulciano','Negroamaro','Rhone','Sangiovese','Valpolicella','Zinfandel','Aglianico','Bordeaux','Cabernet Sauvignon','Malbec','Mourvedre','Nebbiolo',"Nero d'Avola",'Petit Verdot','Petite Sirah','Pinotage','Syrah','Shiraz','Tempranillo','Touriga Nacional','Brunello', 'Barolo', 'Chianti', 'Rioja']

In [32]:
#this instantiates the column for wine style
red_df['wine_style']=""

In [33]:
#this is the function we will run to extract the winestyle from the wine column
def winestyle(x):
    red_df.loc[red_df['wine'].str.contains(x),'wine_style'] = x

In [34]:
#this is the loop that will populate the wine style column
for i in wine_style_list:
    winestyle(i)

In [36]:
red_df['wine_style'].value_counts()

Blend                 4719
Cabernet Sauvignon    1692
Pinot Noir             741
Malbec                 307
Barolo                 295
Brunello               247
Zinfandel              212
Valpolicella           211
Merlot                 202
Chianti                152
Shiraz                 145
Rioja                  122
Montepulciano           76
Syrah                   66
Bordeaux                57
Barbera                 50
Tempranillo             39
Cabernet Franc          32
Petite Sirah            29
Nero d'Avola            20
Nebbiolo                20
Pinotage                16
Sangiovese              15
Aglianico               11
Carignan                 9
Grenache                 5
Negroamaro               4
Touriga Nacional         2
Petit Verdot             2
Mencia                   2
Name: wine_style, dtype: int64

#### CHECK AND SAVE OUR DATAFRAME

In [37]:
red_df.head()

,winery,wine,location,rating,price,wine_category,country,region,vintage,wine_style
0,Caymus,Cabernet Sauvignon N.V.,United States_Napa Valley,4.6,$79.05,red,United States,Napa Valley,N.V.,Cabernet Sauvignon
1,The Prisoner,The Prisoner N.V.,United States_Napa Valley,4.4,$39.75,red,United States,Napa Valley,N.V.,Blend
2,Masi,Costasera Amarone della Valpolicella Classico ...,Italy_Amarone della Valpolicella Classico,4.3,$54.99,red,Italy,Amarone della Valpolicella Classico,N.V.,Valpolicella
3,Stag's Leap Wine Cellars,ARTEMIS Cabernet Sauvignon N.V.,United States_Napa Valley,4.3,$59.99,red,United States,Napa Valley,N.V.,Cabernet Sauvignon
4,Banfi,Brunello di Montalcino N.V.,Italy_Brunello di Montalcino,4.2,$65.98,red,Italy,Brunello di Montalcino,N.V.,Brunello

```python

red_df.to_csv('./red_master.csv')
```